:root {
  background-color: #0e0f17;
  font-family: 'Source Code Pro', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;

  @media (pointer: none), (pointer: coarse) {
    font-size: 3vmin;
  }
}

body {
  background-image: linear-gradient(to bottom, #3c7272, #aee7e6);
  margin: 0;
  height: 100dvh;
  max-height: 100dvh;
}

canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
}
